.headTitle{
    text-align: center;
}

.btnLoad{
    width:150px;
    height:75px;
    margin-top:425px;
    margin-right: 500px;


}

.loadOnServer{
    width:450px;
    height:500px;
    border:1px solid;
    overflow: scroll;
}

h1{
    font-size: 28px;
    color: chocolate;
    text-align: center;
}
ul{
    text-align: left;
}

.load{
    display: flex;
}